
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                <div class="row">
                        <div class="module">
                       
                              
                               
                                 <h1><strong> <img alt="image" width="180" height="120" src="img/Creare.jpg"/>  Registro Creare   <img alt="image" width="180" height="120" src="img/GTO.jpg"/> </strong></h1>
                              
                              
                                <div class="well m-t"><strong>Comentario</strong>
                                    <p>Este resgitro es interno,para mayor control del comité,asi como
                                            te pedimos poder contar con tu informacion real,por si llega a presentarse 
                                            algún detalle con tu registro o pieza concursante nos estamos comunicando</p>
                                </div>
                              </div>
                            <p></p>
                           <br>
                            <div class="form-group"><label class="col-sm-2 control-label"><h3>Pais </h3></label>
                                <div class="col-sm-10"><select class="form-control m-b" name="account">
                                    <option>Mexico</option>
                                    <option>USA</option>
                                </select>
                                </div>
                            </div>
                            <br>
                            <div class="hr-line-dashed">
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label"><h3>Ocupacion</h3></label>
                                <div class="col-sm-10"><select class="form-control m-b" name="account">
                                    <option>Estudiante</option>
                                    <option>Diseñador</option>
                                </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="hr-line-dashed">
                </div>
                <div class="form-group"><label class="col-sm-2 control-label"> <h3>Modalidades</h3> <small> Seleccionar  </small> <br/>
                </label>
                <div>
                        <div class="col-sm-10">

                                <h3>Dama</h3>
                                <div> <input icheck type="checkbox" ng-model="radioTestNextc" class="checkbox-circle">
                                    BackPack  
                                    <input icheck type="checkbox" ng-model="main.check1">
                                        Prenda Vestir  
                                        <input icheck type="checkbox" ng-model="main.check1">
                                            Calzado
                                </div>
                                <br>
                                <h3>Caballero</h3>
                                <div> <input icheck type="checkbox" ng-model="main.check2">
                                    BackPack
                                <input icheck type="checkbox" ng-model="main.check2">
                                        Prenda Vestir
                                    <input icheck type="checkbox" ng-model="main.check2">
                                            Calzado
                                </div>
                                <br>
                                <h3>Caballero</h3>
                                <div> <input icheck type="checkbox" ng-model="main.check2">
                                    BackPack
                                <input icheck type="checkbox" ng-model="main.check2">
                                        Prenda Vestir
                                    <input icheck type="checkbox" ng-model="main.check2">
                                            Calzado
                            </div>
                        </div>
                     </div>
                </div>
                <br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br>
                <div class="hr-line-dashed">
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label"> <h3>Datos</h3> <small> Personales  </small> <br/>
                   
                    </label>
    
                    <div>
                            <div class="col-sm-10">
    
                                    <h3><small><strong>  Nombres</strong> </small></h3>
                                    <label for="exampleInputEmail2" class="sr-only">Nombres</label>
                                     <input type="email" placeholder="Nombres" id="exampleInputEmail2"
                                   class="form-control">
                       
                                    <h3><small><strong>  Apellido Paterno</strong> </small></h3>
                                    <label for="exampleInputEmail2" class="sr-only"><small> Apellido Paterno</small></label>
                                     <input type="email" placeholder="Apellido Paterno" id="exampleInputEmail2"
                                   class="form-control">
                                   <h3><small><strong>  Apellido Materno</strong> </small></h3>
                                   <label for="exampleInputEmail2" class="sr-only">Apellido Materno</label>
                                    <input type="email" placeholder="Apellido Materno" id="exampleInputEmail2"
                                  class="form-control">
                                  <h3><small><strong>Email</strong> </small> </h3>
                                  <div class="input-group m-b"><span class="input-group-addon">@</span> <input type="text"
                                    placeholder="Mail"
                                    class="form-control">
                                    </div>
                                 <h3><small><strong>Email</strong> </small> </h3>
                                 <div class="input-group m-b"><span class="input-group-addon">@</span> <input type="text"
                                    placeholder="Mail"
                                    class="form-control">
                                </div>
                                <h3><small><strong>Genero</strong> </small> </h3>
                                <select class="form-control m-b" name="account">
                                        <option>Hombre</option>
                                        <option>Mujer</option>
                                    </select>             
                            </div>
                            </div>
                    </div>

                    <br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br>
                    <br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br>
                    <div class="hr-line-dashed">
                        </div>
                     
                    <div class="form-group"><label class="col-sm-2 control-label"> <h3>Datos</h3> <small> Recidenciales  </small> <br/>
                   
                    </label>
    
                    <div>
                            <div class="col-sm-10">
    
                                    <h3><small><strong>  Calle</strong> </small></h3>
                                    <label for="exampleInputEmail2" class="sr-only">Nombres</label>
                                     <input type="email" placeholder="Calle" id="exampleInputEmail2"
                                   class="form-control">
                       
                                    <h3><small><strong>  Colonia</strong> </small></h3>
                                    <label for="exampleInputEmail2" class="sr-only"><small> Apellido Paterno</small></label>
                                     <input type="email" placeholder="Colonia " id="exampleInputEmail2"
                                   class="form-control">
                                   <h3><small><strong>  Apellido Materno</strong> </small></h3>
                                   <label for="exampleInputEmail2" class="sr-only">Apellido Materno</label>
                                    <input type="email" placeholder="Apellido Materno" id="exampleInputEmail2"
                                  class="form-control">
                                  <h3><small><strong>Email</strong> </small> </h3>
                                  <div class="input-group m-b"><span class="input-group-addon">@</span> <input type="text"
                                    placeholder="Mail"
                                    class="form-control">
                                    </div>
                                 <h3><small><strong>Email</strong> </small> </h3>
                                 <div class="input-group m-b"><span class="input-group-addon">@</span> <input type="text"
                                    placeholder="Mail"
                                    class="form-control">
                                </div>
                                <h3><small><strong>Genero</strong> </small> </h3>
                                <select class="form-control m-b" name="account">
                                        <option>Hombre</option>
                                        <option>Mujer</option>
                                    </select>
                             
                                
                            </div>
            
                            </div>
                    </div>
                    <br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br>
                    <br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br>
                    <div class="hr-line-dashed">
                        </div>
                     
                        <div class="form-group"><label class="col-sm-2 control-label">¿Como te enteraste?  <br/>
                         
                        </label>

                            <div class="col-sm-10">
                                    <div><label> <input icheck type="radio" name="radioTest"
                                        ng-model="main.checkFour"> Facebook </label></div>
                                    <div><label> <input icheck type="radio" name="radioTest"
                                        ng-model="main.checkFour"> Twitter </label></div>
                                    <div><label> <input icheck type="radio" name="radioTest"
                                        ng-model="main.checkFour">Conocido </label></div>
                                <div><label> <input icheck type="radio" name="radioTest"
                                    ng-model="main.checkFour">Participante</label></div>
                                <div><label> <input icheck type="radio" name="radioTest"
                                                                  ng-model="main.checkFour"> Escuela</label></div>
                                <div><label> <input icheck type="radio" name="radioTest"
                                                                  ng-model="main.check8"> Otro</label>
                                </div>
                            </div>
                        </div>
                        <br> <br> <br> <br> <br> <br><br> <br> 
                 
                        <div class="hr-line-dashed">
                            </div>
                         
                            <div class="form-group"><label class="col-sm-2 control-label">Informacion <br/>
                            </label>
    
                                <div class="col-sm-10">
                                        <div><label> ¿Te Gustaria Recibir Informacion de CREARE? </label></div>
                                        <br>
                                        <div class="btn-group">
                                            <label class="btn btn-primary" ng-model="main.radioModel" uib-btn-radio="'Left'">SI</label>
                                            <label class="btn btn-primary" ng-model="main.radioModel" uib-btn-radio="'Middle'">NO</label>
                                        </div>
                                    
                                       
                                    <div>
                                            <br><label>  ¿Te Gustaria Recibir Informacion del Mes De La Moda?</label></div>
                                    <br>
                                    <div class="btn-group">
                                        <label class="btn btn-primary" ng-model="main.radioModel" uib-btn-radio="'Left'">SI</label>
                                        <label class="btn btn-primary" ng-model="main.radioModel" uib-btn-radio="'Middle'">NO</label>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <br><br>
               
                    <div class="text-right">
                        <button class="btn btn-primary"><i class="fa fa-edit"></i> Registrar</button>
                    </div>
    
                <div class="well m-t"><strong>Redes Sociales</strong>
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-facebook" ><span class="fa fa-facebook"></span></a>                
                        <a class="btn btn-social-icon btn-google" ><span class="fa fa-google"></span></a>
                        <a class="btn btn-social-icon btn-twitter" ><span class="fa fa-twitter"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
