  <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                   <div class="row">
                         <h1>
                              <strong> <img alt="image" width="180" height="120" src="img/Creare.jpg"/> 
                                 Registro Creáre 
                              </strong>
                         </h1>
                         <div class="well m-t"><strong>Comentario</strong>
                         <p>{{Leyenda}}</p>
                         </div>        
                    </div>
                    <!--  ComboBox Pais -->
                       <div class="table-responsive m-t">
                         <div class="form-group"><label class="col-sm-2 control-label"><h3>Pais</h3></label>
                                <div class="col-sm-10">
                                <select  ng-model="Mipais" ng-change="SeleccionPais()" class="form-control m-b" name="Pais"
                                ng-options="pais as pais.nombre for pais in Paises track by pais.Id_Pais">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    <!-- -->
                      
                     <!-- ComboBox Ocupación-->
                       <div class="form-group"><label class="col-sm-2 control-label"><h3>Ocupación</h3></label>
                            <div class="col-sm-10">
                            <select ng-model="MiOcupacion"  ng-change="SleccionOcupacion()" ng-options="ocupacion as ocupacion.nombre for ocupacion in Ocupacion track by ocupacion.Id_Ocupacion" class="form-control m-b" name="account">
                                <option></option>
                            </select>
                        </div>
                       </div>
                     <!-- -->

                         <!-- ComboBox <Escuelas-->
                           
                                <div ng-show="Escuela" class="form-group"><label class="col-sm-2 control-label"><h3>Escuela</h3></label>
                                    <div class="col-sm-10">
                                    <select ng-model="MiOcupacion" ng-change="SleccionOcupacion()" ng-options="ocupacion as ocupacion.nombre for ocupacion in Ocupacion track by ocupacion.Id_Ocupacion" class="form-control m-b" name="account">
                                        <option></option>
                                    </select>
                                </div>
                               </div>
                             <!-- -->

       <!-- ComboBox Curp-->
                      <div ng-show="Curp"  class="form-group"><label class="col-sm-2 control-label"> <h3>Curp</h3>  <br/> </label>
                        <div>
                      <div  class="col-sm-10">
                            <h3><small><strong> Ingrese su  Curp</strong> </small></h3>
                            <label for="exampleInputEmail2" class="sr-only">Nombre</label>
                             <input ng-model="Nombre" type="text" placeholder="" id="exampleInputEmail2"
                             class="form-control">
                            </div>   
                          </div>   
                          </div>
                          <br> 
<!-- -->

                     <!-- Div Marca -->
                                    <div ng-show="Marca"  class="form-group"><label class="col-sm-2 control-label"> <h3>Marca</h3> <small>   </small> <br/>
                                    </label>
                                          <div>
                                           <div  class="col-sm-10">
                                                  <h3><small><strong>  Nombre Marca</strong> </small></h3>
                                                  <label for="exampleInputEmail2" class="sr-only">Nombre</label>
                                                   <input  type="text" ng-model="marca" name="nombre" ng-pattern="patternNombre"
                                                   class="form-control">
                                                  <h3><small><strong>  RFC</strong> </small></h3>
                                                  <label for="exampleInputEmail2" class="sr-only"><small></small></label>
                                                   <input type="text" placeholder="" ng-model="RFC"
                                                 class="form-control">
                                           </div>
                                        </div>
                                    </div>
                                    <br>
                     <!-- -->

                     <!-- Si es Estudiante Extarnjero Aparecera Para Capturar La Esxuela -->
                                    <div  hidden class="form-group"><label class="col-sm-2 control-label"> <h3>Escuela</h3> <small>   </small> <br/>
                                    </label>
                                    <div>
                                          <div  class="col-sm-10">
                  
                                                  <h3><small><strong>  Nombre</strong> </small></h3>
                                                  <label for="exampleInputEmail2" class="sr-only">Nombre</label>
                                                   <input type="email" placeholder="" id="exampleInputEmail2"
                                                 class="form-control">
                                     
                                                  <h3><small><strong>  RFC</strong> </small></h3>
                                                  <label for="exampleInputEmail2" class="sr-only"><small> Apellido Paterno</small></label>
                                                   <input type="email" placeholder="" id="exampleInputEmail2"
                                                 class="form-control">
                     
                                           </div>
                                        </div>
                                </div>
                     <!-- -->



                     <!-- Modalidades -->
                       <div class="form-group"><label class="col-sm-2 control-label"> <h3>Modalidades</h3>  <br/>
                                </label>
                                 
                                 <div class="col-sm-10">
    
                                 <!-- Categoria de Dama-->
                                    <h3>Dama</h3>
                                    <div> <input icheck type="checkbox" ng-model="radioTestNextc" class="checkbox-circle">
                                        Prenda Vestir    
                                        <input icheck type="checkbox" ng-model="main.check1">
                                        Calzado  
                                            <input icheck type="checkbox" ng-model="main.check1">
                                                Bolso
                                                
                                    </div>
                                    
                                <!-- -->
                                <!-- Categoria Caballero-->
                                    <br>
                                    <h3>Caballero</h3>
                                    <div> <input icheck type="checkbox" ng-model="main.check2" >
                                        Prenda Vestir
                                    <input icheck type="checkbox" ng-model="main.check2">
                                    Calzado
                                        <input icheck type="checkbox" ng-model="main.check2">
                                                BackPack
                                    </div>
                                <!-- -->    
                                    <br>
                                 <!-- Diseño -->
                                    <h3>Diseño Utilitario y Arte</h3>
                                    <div> <input icheck type="checkbox" ng-model="main.check2">
                                        Accesorio
                                        <input icheck type="checkbox" ng-model="main.check2">
                                        Mobiliario
                                    </div>
                                    <br>
                                  
                                   </div>
                         </div>
                                    <div class="form-group"><label class="col-sm-2 control-label"> <h3>Datos</h3> <small> Personales  </small> <br/> </label>
    
                                        <div>
                                                <div class="col-sm-10">
                        
                    
                                                       <h3><small><strong>Nombre</strong> </small> </h3>
                                                       <div class="input-group m-b"><span class="input-group-addon"><img alt="image" width="20" height="20" src="img/user.jpg"/></span> <input ng-model="Nombre" type="text"
                                                         placeholder=""
                                                         class="form-control">
                                                         </div>

                                                        <h3><small><strong>  Apellido Paterno</strong> </small></h3>
                                                        <div class="input-group m-b"><span class="input-group-addon"><img alt="image" width="20" height="20" src="img/user.jpg"/></span> <input ng-model="ApellidoPaterno" type="text"
                                                            placeholder=""
                                                            class="form-control">
                                                            </div>

                                                       <h3><small><strong>  Apellido Materno</strong> </small></h3>
                                                     
                                                      <div class="input-group m-b"><span class="input-group-addon"><img alt="image" width="20" height="20" src="img/user.jpg"/></span> <input ng-model="ApellidoMaterno" type="text"
                                                        placeholder=""
                                                        class="form-control">
                                                        </div>



                                                      <h3><small><strong>Email</strong> </small> </h3>
                                                      <div class="input-group m-b"><span class="input-group-addon"><img alt="image" width="20" height="20" src="img/Micon.jpg"/></span> <input ng-model="Correo" type="text"
                                                        placeholder="Mail"
                                                        class="form-control">
                                                        </div>

                                                     <h3><small><strong>Email</strong> </small> </h3>
                                                     <div class="input-group m-b"><span class="input-group-addon"> <img alt="image" width="20" height="20" src="img/Micon.jpg"/> </span> <input   ng-model="CorreoVerificacion" type="text"
                                                        placeholder="Mail"
                                                        class="form-control">
                                                    </div>
                                                    <h3><small><strong>Genero</strong> </small> </h3>
                                                    <select class="form-control m-b" name="account">
                                                            <option>Hombre</option>
                                                            <option>Mujer</option>
                                                    </select>
                                        
                                                </div>
                                
                                                </div>
                                        </div>
                                        <div class="form-group"><label class="col-sm-2 control-label"> <h3>Datos</h3> <small> Recidenciales  </small> <br/> </label>
    
                                            <div>
                                                    <div class="col-sm-10">
                            
                                                            <h3><small><strong>  Calle</strong> </small></h3>
                                                            <label for="exampleInputEmail2" class="sr-only"></label>
                                                             <input type="email" placeholder="" id="exampleInputEmail2"
                                                           class="form-control">
                                                            <h3><small><strong>  Colonia</strong> </small></h3>
                                                            <label for="exampleInputEmail2" class="sr-only"><small> </small></label>
                                                             <input type="email" placeholder=" " id="exampleInputEmail2"
                                                           class="form-control">
                                                           <h3><small><strong>  Codigo Postal</strong> </small></h3>
                                                           <label for="exampleInputEmail2" class="sr-only"></label>
                                                            <input type="email" placeholder=" " id="exampleInputEmail2"
                                                          class="form-control">
                                                        
                                                         <div class="input-group m-b"> 
                                                        </div>
                                                        <h3><small><strong>Municipio</strong> </small> </h3>
                                                        <select class="form-control m-b" name="account">
                                                                <option>Hombre</option>
                                                                <option>Mujer</option>
                                                            </select>
                                                            <h3><small><strong>Estado</strong> </small> </h3>
                                                            <select class="form-control m-b" name="account">
                                                                    <option>Hombre</option>
                                                                    <option>Mujer</option>
                                                                </select>
                                                        
                                                    </div>
                                    
                                                    </div>
                                            </div>
     <!--Como Te Enteraste--> 
                          <div class="form-group"><label class="col-sm-2 control-label">¿Como te enteraste?  <br/>
                         
                          </label>
  
                              <div class="col-sm-10">
                                      <div><label> <input icheck type="radio" name="radioTest"
                                          ng-model="main.checkFour"> Facebook </label></div>
                                      <div><label> <input icheck type="radio" name="radioTest"
                                          ng-model="main.checkFour"> Twitter </label></div>
                                      <div><label> <input icheck type="radio" name="radioTest"
                                          ng-model="main.checkFour">Conocido </label></div>
                                  <div><label> <input icheck type="radio" name="radioTest"
                                      ng-model="main.checkFour">Participante</label></div>
                                  <div><label> <input icheck type="radio" name="radioTest"
                                                                    ng-model="main.checkFour"> Escuela</label></div>
                                  <div><label> <input icheck type="radio" name="radioTest"
                                                                    ng-model="main.check8"> Otro</label>
                                  </div>
                              </div>
                              
                          </div>

 <!-- -->
                    
  <!-- Informacion -->
        <div class="form-group"><label class="col-sm-2 control-label">Informacion <br/>
                </label>

                  <div class="col-sm-10">
                   <div>
                 <label> ¿Te Gustaria Recibir Informacion de CREARE? </label>
                      </div>
                      <br>
                  <div class="btn-group">
                 <label class="btn btn-primary" ng-model="main.radioModel" uib-btn-radio="'Si'">SI</label>
                 <label class="btn btn-primary" ng-model="main.radioModel" uib-btn-radio="'No'">NO</label>
                     </div>
                      <div>
                    <br><label>  ¿Te Gustaria Recibir Informacion del Mes De La Moda?</label></div>
                 <br>
                 <div class="btn-group">
                <label class="btn btn-primary" ng-model="btnModa" uib-btn-radio="'Si'">SI</label>
                <label class="btn btn-primary" ng-model="btnModa" uib-btn-radio="'No'">NO</label>
                   </div>
                </div>

              </div>

            </div> 
<!-- -->
    
<!-- Boton Regitro-->
    <div class="text-right">
            <button class="btn btn-primary" ng-click="regisTrardato()" ><i class="fa fa-edit"></i> Registrar</button>
        </div>
                    </div>
                    <!--RedesSociales -->
                <div class="well m-t"><strong>Redes Sociales</strong>
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-facebook" ><span class="fa fa-facebook"></span></a>                
                        <a class="btn btn-social-icon btn-google" ><span class="fa fa-google"></span></a>
                        <a class="btn btn-social-icon btn-twitter" ><span class="fa fa-twitter"></span></a>
                    </div>
                </div>

                    <!-- /table-responsive -->
                    
                </div>
            </div>
        </div>
    </div>
    